<footer id="footer" >
    <h1>About Us</h1>
    <hr style="width: 100%;">
    <div class="flex flex-jc-space-btw">
        
        <div class="xaop-footer__col--multi-list">
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">Corporate Office</h3>
              6th Floor Bajaj Finserv Corporate Office, Off Pune-Ahmednagar Road, Viman Nagar, Pune - 411014
            </div>
          
        </div>
      
        <div class="xaop-footer__col--multi-list">
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">Bajaj Finance Limited Regd. Office</h3>
              Akurdi, Pune - 411035<br>
Ph No.: 020 7157-6403<br>
Email ID:&nbsp;<a href="mailto:investor.service@bajajfinserv.in" target="_blank" data-di-id="di-id-10dd78c4-643c05cd">investor.service@bajajfinserv.in</a>
            </div>
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">Corporate Identity Number (CIN)</h3>
              L65910MH1987PLC042961
            </div>
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">IRDAI Corporate Agency (Composite) Regn No.</h3>
              CA0101<br>
(Valid till 31-Mar-2025)
            </div>
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">URN - WEB/BFL/23-24/1/V1</h3>
              
            </div>
          
        </div>
      
        <div class="xaop-footer__col--multi-list">
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">Bajaj Finserv Limited Regd. Office</h3>
              Bajaj Auto Limited Complex Mumbai - Pune Road,<br>
Pune - 411035 MH (IN)<br>
Ph No.: 020 7157-6064<br>
Email ID:&nbsp;<a href="mailto:investors@bajajfinserv.in" target="_blank" data-di-id="di-id-b65355cc-21a8f141">investors@bajajfinserv.in</a>
            </div>
          
            <div class="xaop-footer__group">
              <h3 class="fs-14">Corporate Identity Number (CIN)</h3>
              L65923PN2007PLC130075
            </div>
          
        </div>
      
      <div class="xaop-footer__col--multi-list">
        <div class="xaop-footer__group">
          <h3 class="fs-14">Our Companies</h3>
          <ul>
            
              <li>
                <a href="/corporate-bajaj-finserv" target="_self" data-di-id="di-id-ab78d420-9c09a6c9">
                  Bajaj Finserv Ltd.
                </a>
              </li>
            
              <li>
                <a href="/corporate-bajaj-finance" target="_self" data-di-id="di-id-ab78d420-5302199b">
                  Bajaj Finance Ltd.
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajallianz.com/general-insurance.html" target="_blank" data-di-id="di-id-ab78d420-a7d3175e">
                  Bajaj Allianz General Insurance
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajallianzlife.com" target="_blank" data-di-id="di-id-e474d06f-6432b58b">
                  Bajaj Allianz Life Insurance
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajfinservmarkets.in" target="_blank" data-di-id="di-id-3485c75c-df391281">
                  Bajaj Finserv Markets
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajhousingfinance.in" target="_blank" data-di-id="di-id-3485c75c-774f4579">
                  Bajaj Housing Finance Ltd.
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajbroking.in" target="_blank" data-di-id="di-id-10dd78c4-7ff3e1c7">
                  Bajaj Broking
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajfinservhealth.in/" target="_blank" data-di-id="di-id-3485c75c-522f4b6">
                  Bajaj Finserv Health Ltd.
                </a>
              </li>
            
              <li>
                <a href="https://www.bajajamc.com" target="_blank" data-di-id="di-id-ab99702-bc5bad50">
                  Bajaj Finserv Asset Management Ltd.
                </a>
              </li>
            
          </ul>
        </div>
      </div>
      <div class="xaop-footer__col--multi-list xaop-footer__col--fw-mob">
         <div class="xaop-footer__app-links">
          <div class="flex">
            
              <a title="Android" href="https://bfl.onelink.me/857331112/4n" class="footer_download_app" target="_self" data-di-id="di-id-75751494-a1bbb4c5">
                <i class="bf-icon-android-fill fs-32"></i>
              </a>
            
              <a title="iOS" href="https://apps.apple.com/in/app/id505454145" class="footer_download_app" target="_blank" data-di-id="di-id-fa34d2d4-4d371e75">
                <i class="bf-icon-apple-fill fs-32"></i>
              </a>
            
          </div>
        </div>
      </div>
    </div>
    <p>© Bajaj Finserv 2007-2024. All rights reserved.</p>
</footer>