<style>
    #div1{
        display: flex;
        justify-content: center;
    }

   

    .login-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 20px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .login-container input[type="number"],
    .login-container input[type="password"] {
        width: 90%;
        padding: 10px;
        
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .login-container button {
        width: 100%;
        padding: 10px;
        background-color: #f08a2b;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
    }
    
</style>
<div id="div1">
    
<div class="login-container">
    <h2>Login</h2>
    <form action="loan_status" method="post">
        <input type="text" name="id" placeholder="Branch code" required>
        <input type="number" name="pass" placeholder="Phone Number" required>
        <button onclick="loan_status()" type="submit">Login</button>
    </form>
</div>
</div>
