<script>
    function linefune()
    {
        var line =document.getElementById("line");
    var img = document.getElementById("image");
    line.style.width=img.style.width;
    }
</script>

<div  onload="linefun()" id="main_menu">
    <div id="line"></div>
    <div onclick="loan()" class="main_menus">
        <img id="image" src="https://www.svgrepo.com/show/491989/loan.svg" alt="">
        <p>Loan Apply</p>
        
    </div>
    <div onclick="emicard()" class="main_menus">
        <img  src="https://www.svgrepo.com/show/452179/card.svg" alt="">
        <p>emi card</p>
    </div>
    <div onclick="login()" class="main_menus">
        <img src="https://www.svgrepo.com/show/190835/pressure-meter.svg" alt="">
        <p>check score</p>
    </div>
    <div  class="main_menus">
        <img src="https://www.svgrepo.com/show/477114/contact.svg" alt="">
        <p>contact <br>us</p>
    </div>
    <div onclick="scrollToSection('footer')" class="main_menus" id="about_us">
        <img src="https://companieslogo.com/img/orig/BAJFINANCE.NS-1c922000.png?t=1720244490" alt="">
        <p>About us</p>
    </div>
    
</div>
<script>
  
</script>